@import '../variables.scss';

.product-container {
    .product-features {
        display: flex;
        justify-content: space-evenly;

        margin-bottom: 15rem;
        margin-top: 5rem;

        .product-feature {
            display: flex;
            align-items: center;
            .feature-desc {
                h2 {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                p {
                    color: $dark-grey;
                    font-size: 15px;
                }
            }
            svg {
                width: 4rem;
                height: 4rem;
                margin-right: 1.5rem;
                // background: linear-gradient(
                //     90deg,
                //     rgba(39, 240, 158, 1) 20%,
                //     rgba(3, 165, 243, 1) 70%
                // );
                //
            }
        }
    }

    .products {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 10rem;
        margin-right: 3rem;
        margin-bottom: 20rem;
        .best-seller {
            h1 {
                font-size: 3.5rem;
                font-weight: 500;
                margin-bottom: 2rem;
                line-height: 75px;
            }
            a {
                display: flex;
                align-items: center;
                color: $dark-grey;
                font-size: 18px;
                svg {
                    margin-left: 0.5rem;
                }
                &:hover {
                    color: black;
                }
            }
        }

        .product-plants {
            display: flex;
            gap: 2rem;
            .product-plant {
                display: flex;
                border-radius: 40px;

                flex-direction: column;
                justify-content: space-between;
                height: 28rem;
                background-color: #c1d0e4;
                box-shadow: 0 0 3px 0.1px black;
                .plant-img {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    img {
                        position: absolute;
                        height: 350px;
                        height: 350px;
                        top: -135px;
                    }
                }
                .plant {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    border-radius: 40px;
                    width: 20rem;
                    height: 14rem;
                    padding: 20px 30px;
                    h1 {
                        font-weight: 500;
                    }
                    .plant-desc {
                        width: 100%;
                        svg {
                            color: #f2c94c;
                            height: 1.2rem;
                            width: 1.2rem;
                            margin-top: 3px;
                        }
                        h2 {
                            font-weight: 500;
                        }
                    }
                    .plant-price {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        .plant-plus {
                            border-radius: 50%;
                            background: $gradient;
                            height: 2.5rem;
                            width: 2.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            svg {
                                width: 2rem;
                                height: 2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
