@import '../variables.scss';

.product-container {
    padding: 0 8rem;

    // Service Style
    .services {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15rem;
        margin-top: 5rem;

        .service {
            display: flex;
            align-items: center;

            .service-desc {
                h2 {
                    font-weight: 500;
                    margin-bottom: 5px;
                }
                p {
                    color: $dark-grey;
                    font-size: 15px;
                }
            }

            svg {
                width: 4rem;
                height: 4rem;
                margin-right: 1.5rem;
            }
        }
    }
    // End Of Service Style

    .products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3rem;
        margin-bottom: 15rem;

        .best-seller {
            margin-right: 5rem;

            h1 {
                font-size: 3.5rem;
                font-weight: 500;
                margin-bottom: 2rem;
                line-height: 75px;
            }

            a {
                display: flex;
                align-items: center;
                color: $dark-grey;
                font-size: 18px;
                svg {
                    margin-left: 0.5rem;
                }
                &:hover {
                    color: black;
                }
            }
        }

        .product-plants {
            display: flex;
            gap: 3rem;

            .product-plant {
                display: flex;
                border-radius: 50px;
                flex-direction: column;
                justify-content: space-between;
                height: 28rem;
                background-color: #c1d0e4;
                filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));

                .plant-img {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    img {
                        position: absolute;
                        height: 350px;
                        height: 350px;
                        top: -135px;
                    }
                }

                .plant {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #fff;
                    border-radius: 50px;
                    width: 18rem;
                    height: 13rem;
                    padding: 20px 30px;

                    h1 {
                        font-weight: 500;
                    }

                    .plant-desc {
                        width: 100%;

                        svg {
                            color: #f2c94c;
                            height: 1.2rem;
                            width: 1.2rem;
                            margin-top: 3px;
                        }

                        h2 {
                            font-weight: 500;
                        }
                    }

                    .plant-price {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;

                        .plant-plus {
                            transition: 0.3s all;
                            cursor: pointer;
                            border-radius: 50%;
                            background: $gradient;
                            height: 2.5rem;
                            width: 2.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover {
                                transform: scale(1.1);
                            }
                            svg {
                                width: 2rem;
                                height: 2rem;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
